In [1]:
import pandas as pd
import numpy as np

In [2]:
full_womens = pd.read_excel('full_womens.xlsx') #create dataframe for total inventory
primary = pd.read_excel('primary_womens.xlsx') #create dataframe for sublocation

In [3]:
full_womens.head() #view first 5 lines of total inventory

   Desc1       Desc2 Attr  Size  Str OH Qty  Global UPC Filter
0  77050  CAMPUS 14L  BLK   6.5           1       787935003800
1  77050  CAMPUS 14L  BLK   7.0           1       787935003817
2  77050  CAMPUS 14L  BLK   9.0           1       787935003855
3  77050  CAMPUS 14L  BLK   9.5           1       787935003862
4  77050  CAMPUS 14L  BLK   6.0           1       787935003794

In [4]:
primary.head() #view first 5 lines of sublocation

   Desc1            Desc2 Attr  Size  Str Qty     Local UPC
0  70234    ELYSSA OXFORD  BLK   7.0        1  190918274287
1  70555  WILLOW LOW LACE  SND  10.0        1  190918348346
2  70555  WILLOW LOW LACE  SND   9.5        1  190918348339
3  70555  WILLOW LOW LACE  SND   9.0        1  190918348322
4  70555  WILLOW LOW LACE  SND   8.5        1  190918348315

In [5]:
full_list = list(full_womens['Global UPC Filter']) #create a list of the Global UPC Filter

In [6]:
primary_list = list(primary['Local UPC']) #create a list of the Local UPC

In [7]:
main_list = np.setdiff1d(full_list,primary_list, assume_unique=True) #Create list of items missing for sublocation
print(main_list) #print list

[787936404675 888542337507 888542393756 888542393763 888542367375
 888542755523 190233562991 190918079172 190918079257 190918078571
 190918107349 190918077598 190918098173 190918077628 190918019253
 190918078069 190918081205 190918042794 190918028538 190918078236
 190918073422 190918073460 190918023199 190918081274 190918091150
 190918081359 190918075303 190918120737 190918336459 190918364025
 190918412139 190918398693 190918399843 190918399140 190918399157
 190918398266 190918398273 190918367842 190918354989 190918408194
 190918397573 190918409818 190918400907 190918397610 190918410142
 190918363271 190918367057 190918366920 190918327662 190918343082
 190918288000 190918321431 190918321547 190918367309 190918327150
 190918366029 190918346557 190918343389 190918270500 190918347097
 190918272207 190918337470]

In [11]:
missing_styles = full_womens[full_womens['Global UPC Filter'].isin(main_list)] #dataframe of missing styles

In [12]:
missing_styles.to_excel("missing_wommens.xlsx") #export dataframe to excel file